.header {
    display: flex;
}

.header h1{
    margin: 5px 0 0 40px;
    color: blue;
    font-size: 1.5em;

}

.wrapper {
    display: grid;
    max-width: auto;
    grid-template-columns: 230px 160px 160px 160px 160px minmax(150px,auto);
    grid-column-gap: 10px;
    grid-template-rows: 30px 30px 30px 70px 150px 100px;
    grid-row-gap: 10px;
    margin: 0 20px 20px 20px;
  }



.wrapper > div:nth-child(3){
    grid-column: 2 / 7;
    grid-row: 2;
}

.wrapper h2{
    color: blue;
    margin: 0;
 }

 .wrapper > div:nth-child(4){
    grid-column: 2 / 7;
    grid-row: 3;
}

.wrapper h3{
    font-size: 15px;
    margin: 0 15px;
    color: #686666;

}


.wrapper > div:nth-child(5){
    grid-column: 2;
    grid-row: 4;
    padding: 8px;
        background-color: #a9e3f5;
        border-radius: 10px;
} 

.wrapper > div:nth-child(6){
    grid-column: 3;
    grid-row: 4;
    padding: 8px;
    background-color: #ffede5;
    border-radius: 10px;
} 


.wrapper > .grid-5 > p,
.wrapper > .grid-6 > p{
    font-size: 15px;
    color: #67648a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 15px 0;
}

.wrapper > .grid-5 > img,
.wrapper > .grid-6 > img{
    float: left;
    height: 50px;
    margin-right: 8px;
}

.wrapper > .grid-5 > p:last-child,
.wrapper > .grid-6 > p:last-child{
    text-align: center;
    font-size: 20px;
font-family: arial;
color: blue;
}

.wrapper > .grid-5 > img{
    float: left;
    height: 50px;
    margin-right: 8px;
}

.wrapper > div:nth-child(7){
    grid-column: 2 / 7;
    grid-row:  5 /7;
    padding: 8px;
    margin-top: 10px;

} 

.wrapper > .grid-7 > .tabela p{
    margin: 10px 20px;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    color: #6c6cf7;
}

.wrapper .tabela{
    border: 1px solid #cbcbce;
    height: 100%;
}

.wrapper input{
    justify-content: end;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 90%;
}
